# Copy to .env and edit on the server.

NS2_ROOT=/home/ns2server/ns2
NS2_SERVERFILES=/home/ns2server/ns2/serverfiles
NS2_CONFIG_PATH=/home/ns2server/ns2/config
NS2_LOG_DIR=/home/ns2server/ns2/logs
NS2_WORKSHOP_DIR=/home/ns2server/ns2/workshop

SERVER_NAME="<x76>EU Server (smurfs allowed)"
SERVER_PORT=27015
SERVER_LIMIT=20
SERVER_SPEC_LIMIT=5
SERVER_START_MAP=ns2_biodome

WEB_ADMIN=0
WEB_PORT=8080
WEB_USER=admin
WEB_PASSWORD=

MOD_SERVER_PORT=27017
